# Server
PORT=3000
NODE_ENV=development

# UAT_Database (MySQL)
# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=content_broadcasting
# DB_USER=root
# DB_PASSWORD=Root@1234

# Production Database (MySQL - Clever Cloud)
DB_HOST=buzptpxxxxxxxxxxb5jdfg-mysql.services.clever-cloud.com
DB_NAME=buxxxxxxxxxjdfg
DB_PASSWORD=WfgZkxxxxxxxxBpy
DB_PORT=3306
DB_USER=u7lxxxxxxxxxxgq

# JWT
JWT_SECRET=12xxxxxxxxxx0abcdef
JWT_EXPIRES_IN=7d

# File Upload
MAX_FILE_SIZE_MB=10

CLOUDINARY_API_KEY=9888xxxxxxxxxx6767
CLOUDINARY_API_SECRET=yf6xxxxxxxxxxxxxveNGfm4
CLOUDINARY_CLOUD_NAME=dixxxxxxxxxxxn0q

# AWS S3 (Optional - uncomment to enable S3 storage)
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_REGION=us-east-1
# AWS_S3_BUCKET=content-broadcasting-bucket
